{% block content %}{% endblock content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <a href="{% url 'core:index' %}">Home</a> -
        <a href="{% url 'accounts:login' %}">Login</a> -
        <a href="{% url 'accounts:register' %}">Register</a> -
        <a href="{% url 'explore:world_map' %}">Explore</a> -
        <a href="{% url 'library:saved_destinations' %}">Library</a>

        {% block head %}{% endblock head %}
    </head>
    <body>
        {% block body %}{% endblock body %}
    </body>
</html>