{% extends "base.html" %}
{% load static %}

{% block head %}
    <h3>Explore</h3>
{% endblock head %}

{% block body %}
    <p>'world map'</p>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <button onClick='resetMarkers()'>Reset markers</button>
    <button onClick='saveLocation()'>Save Destinations</button>
    <div id="error-no-dest" style="display:none; color: red; margin: 10px 0;">
        You have not selected a destination.
    </div>
    <div id="error-no-stations" style="display:none; color: red; margin: 10px 0;">
        Sorry, some of your selected locations have no valid weather stations nearby.
    </div>
    <div id="error-location" style="display:none; color: red; margin: 10px 0;">
        Sorry, this location could not be found.
    </div>
    <div id="saving-indicator" style="display: none; color: blue; font-weight: bold; margin-top: 10px;">
        Saving...
    </div>
    <div id="adding-indicator" style="display: none; color: blue; font-weight: bold; margin-top: 10px;">
        Adding...
    </div>
      

    <div id='map' style='height: 600px; width: 900px;'></div>
    <form id="enter-location-form" action="{% url 'explore:save_data' %}" method="post">
        {% csrf_token %}
        {{ country_form.as_div }}
        {{ city_form.as_div }}
        <button name="enter_location">Enter Location</button>
    </form>

    {{ destinations|json_script:'destinations_json' }}

    <script src="{% static 'explore/world_map.js' %}"></script>
{% endblock body %}