{% extends "base.html" %}

{% block head %}
    <h3>Explore</h3>
{% endblock head %}

{% block body %}
    <p>'world map'</p>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <div id='map' style='height: 600px; width: 900px;'></div>
    <script>
        var map = L.map('map').setView([51.505, -0.09], 2);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        map.on('click', (event) => {
            let lat = event.latlng.lat
            let lon = event.latlng.lng
            fetch(`/explore/save-data?latitude=${lat}&longitude=${lon}`)
        })


    </script>
{% endblock body %}